@{
    ViewBag.Title = "User Session - Nofoos.com";
    Layout = "~/Views/shared/MasterPage2.cshtml";
}

<script type="text/javascript">
    function reload() {
        location.reload();
    }
    $(document).ready(function () {
        var DocHeight = $(document).height();
        $('#darkLayer').css({ 'height': DocHeight });
    });

    function PopUp() {
        $('#darkLayer').css({ 'display': 'block' });
        $('#Res').css({ 'display': 'block' });
    }


    var apiKey = "33122472";
    var SessionID;
    var Token;
    var Nickname;
    var publisherProperties = new Object();
    var styleObj = new Object();
    var thisSubscriber = new Object();
    var publisher;
    var subscribers = {};
    var NumOfSub = 0;
    var AudioStatus = false;
    var VideoStatus = false;

    $.ajax({
        url: '/User/GetSessionData',
        type: 'post',
        data: {},
        success: function (data) {
            SessionID = data.SessionID;
            Token = data.Token;
            CallStartSession();
        },
        error: function (error) {
            console.log(error.responseText);
        }
    });

    var session;
    function CallStartSession() {

        // Initialize session, set up event listeners, and connect
        session = TB.initSession(SessionID);
        session.addEventListener('sessionConnected', sessionConnectedHandler);
        session.addEventListener("sessionDisconnected", sessionDisconnectedHandler);
        session.addEventListener('streamCreated', streamCreatedHandler);
        session.addEventListener("streamDestroyed", streamDestroyedHandler);
        session.connect(apiKey, Token);
    }


    function sessionConnectedHandler(event) {
        //alert(Nickname);
        //        styleObj.nameDisplayMode = "on";
        publisherProperties = { width: 200, height: 180, name: Nickname, style: styleObj, publishVideo: true };
        publisher = TB.initPublisher(apiKey, 'PatientPublisher', publisherProperties);
        session.publish(publisher);
        // Subscribe to streams that were in the session when we connected
        subscribeToStreams(event.streams);
    }


    function sessionDisconnectedHandler(event) {
        if (event.reason == "forceDisconnected") {
            $('#msg').css('display', 'block');
        }
        if (event.reason == "networkDisconnected") {
            $('#msg').css('display', 'block');
        }
    }


    function streamDestroyedHandler(event) {
        for (var i = 0; i < event.streams.length; i++) {
            session.unsubscribe(event.streams[i]);
            NumOfSub--;
        }
        $.ajax({
            url: '/User/ChechSessionElapsed',
            type: 'post',
            data: {},
            success: function (data) {
                if (data == "Finished") {
                    window.location.href = "/User/UserDashboard";
                }
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    }


    function streamCreatedHandler(event) {
        // Subscribe to any new streams that are created
        subscribeToStreams(event.streams);
        NumOfSub++;

    }


    function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
            // Make sure we don't subscribe to ourself
            if (streams[i].connection.connectionId == session.connection.connectionId) {
                return;
            }
            // Subscribe to the stream
            $('#X').append('<div id="DoctorPublisher"></div>');
            thisSubscriber = session.subscribe(streams[i], 'DoctorPublisher', { 'width': "100%", 'height': "100%", "top": "0px", "position": "absolute", "z-index": "3333" });
            //thisSubscriber.setStyle("nameDisplayMode", "on");
            //            document.getElementById('Optionsdiv' + streams[i].streamId).innerHTML = "<input type='button' id='" + streams[i].connection.connectionId + "' value='Kick this User' onclick='return KickUser_onclick(this.id)'>";
            //            thisSubscriber.setStyle("nameDisplayMode", "on");
            //subscribers[stream[i].streamId] = thisSubscriber;
        }
    }


    function forceDisconnectStream(ConID) {
        session.forceDisconnect(ConID);
    }



    function forceUnpublishStream(stream) {
        session.forceUnpublish(stream);
    }



    function KickUser_onclick(clickedID) {
        forceDisconnectStream(clickedID);
    }



    function EnableDisableVid_onclick() {
        if (VideoStatus == true) {
            publisher.publishVideo(true);
            VideoStatus = false;
            $('#CamIcon').attr('class', 'icon-pause');
        }
        else {
            publisher.publishVideo(false);
            VideoStatus = true;
            $('#CamIcon').attr('class', 'icon-facetime-video');
        }
    }

    function EnableDisableAud_onclick() {
        if (AudioStatus == true) {
            publisher.publishAudio(true);
            AudioStatus = false;
            $('#MicIcon').attr('class', 'icon-microphone-off');
        }
        else {
            publisher.publishAudio(false);
            AudioStatus = true;
            $('#MicIcon').attr('class', 'icon-microphone');
        }
    }
</script>

<div class="l-main">
    <div class="l-main-h">
        <div class="l-subsection">
            <div class="l-subsection-h">
                <section id="home" class="l-section">
                    <div class="l-subsection-hh g-html i-cf">
                        <p class="subtitle">
                            <span class="highlight">Confidentiality
                            </span>
                        </p>
                        <p class="size_big" style="text-align: center;">
                            Nofoos will not record any audio or video sessions.  Our psychologists will accept all information provided as correct and will treat it as strictly confidential and not to be shared with third parties under any circumstances. 
                        </p>
                        <div class="g-hr">

                            <span class="g-hr-h">
                                <i class="icon-star"></i>
                            </span>

                        </div>
                        <h2><span class="highlight">Dr. @ViewBag.S.Therapist.FirstName  @ViewBag.S.Therapist.LastName
                        </span></h2>
                        <div id="msg" class="g-alert type_error with_close" id="UPError" style="display: none;">
                            <div class="g-alert-close">✕ </div>
                            <div class="g-alert-body" id="UPerrorText">
                                You have a bad internet connection , please <a href="javascript:reload()">Refresh</a> to join again
                            </div>
                        </div>


                        <div style="width: 100%; height: 600px; background-color: #fff; position: relative; margin-bottom: 100px;">
                            <div class="g-cols">

                                <div class="three-quarters" style="position: relative;">
                                    <div id="X" style="background-color: grey; margin-left: 0%;height: 500px; overflow: hidden;">
                                    </div>
                                    <div id="PatientPublisher" style="position: absolute; z-index: 9000; right: 0px; bottom: 0px; background-color: black; width: 200px; height: 180px;"></div>
                                </div>

                                <div class="one-quarter">
                                    <div id="Tools" style="width: 100px; height: 100%; background-color: #fff; float: left;">
                                        <div class="w-iconbox iconpos_left with_circle">
                                            <div class="w-iconbox-h">
                                                <a class="w-iconbox-link" href="javascript:EnableDisableAud_onclick();">
                                                    <div class="w-iconbox-icon" style="margin-left: 25px; margin-top: 50px;">
                                                        <i id="MicIcon" class="icon-microphone-off"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="w-iconbox iconpos_left with_circle">
                                            <div class="w-iconbox-h">
                                                <a class="w-iconbox-link" href="javascript:EnableDisableVid_onclick();">
                                                    <div class="w-iconbox-icon" style="margin-left: 25px; margin-top: 150px;">
                                                        <i id="CamIcon" class="icon-pause"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
